---
import Layout from "@/layouts/Layout.astro";
import { getI18N } from "@/i18n";
import Breadcrumb from "@/components/Breadcrumb.astro";
import BestRooms from "@/components/about/BestRooms.astro";
import Features from "@/components/Features.astro";
import Stats from "@/components/Stats.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const { stats, features } = i18n.about;
---

<Layout title={i18n.META_TITLE} description={i18n.META_DESCRIPTION}>
  <Breadcrumb />
  <BestRooms />
  <Features features={features} />
  <Stats title={stats.title} items={stats.items}>
    <p class="mt-4">{stats.text}</p>
  </Stats>
</Layout>
