---
import { getI18N } from "@/i18n";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const data = i18n.home.quotation;
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<div class="quotation py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="welcome-left text-center py-md-5 py-3">
      <h3>
        {data.text}
      </h3>
      <a
        href={translatePath(data.buttonBook.href)}
        class="btn btn-style transparent-btn mt-sm-5 mt-4 mr-2"
      >
        {data.buttonBook.text}
      </a>
      <a
        href={data.buttonContactUs.href}
        class="btn btn-style btn-primary mt-sm-5 mt-4"
      >
        {data.buttonContactUs.text}
      </a>
    </div>
  </div>
</div>
