---
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { getLangFromUrl } from "@/i18n/utils";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description?: string;
}
const { title, description = "" } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="preload"
      href="/fonts/fontawesome-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script src="/src/scripts/bootstrap.min.js" defer></script><script
      is:inline
      src="/src/scripts/jquery-3.3.1.min.js"></script>
    <script is:inline src="/src/scripts/owl.carousel.js"></script>
    <script src="src/scripts/jquery.magnific-popup.min.js"></script>
    <script is:inline data-astro-rerun>
      $(document).ready(function () {
        $(".owl-one").owlCarousel({
          loop: true,
          margin: 0,
          nav: false,
          responsiveClass: true,
          autoplay: false,
          autoplayTimeout: 5000,
          autoplaySpeed: 1000,
          autoplayHoverPause: false,
          responsive: {
            0: {
              items: 1,
              nav: false,
            },
            480: {
              items: 1,
              nav: false,
            },
            667: {
              items: 1,
              nav: true,
            },
            1000: {
              items: 1,
              nav: true,
            },
          },
        });
        $(".popup-with-zoom-anim").magnificPopup({
          type: "inline",

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: "auto",

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: "my-mfp-zoom-in",
        });

        $(".popup-with-move-anim").magnificPopup({
          type: "inline",

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: "auto",

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: "my-mfp-slide-bottom",
        });
      });
    </script>
  </body>
</html>
